body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3; /* Fundo da página cinza */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid blue; /* Borda azul de 2px */
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
    outline: none;
    border-color: #0033cc;
}

.preferences label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="text"]#outras_preferencias {
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.save-button {
    background-color: green; /* Cor verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clear-button {
    background-color: red; /* Cor vermelha */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #006400;
}

.clear-button:hover {
    background-color: #cc0000;
}
